# Ignore C++ build artifacts
*.o
*.exe
noc_c_model/noc_sim

# Ignore Python cache
__pycache__/
*.pyc

# Ignore SystemC build
systemc-2.3.3/
*.tar.gz
dse_tools/*.png
dse_tools/*.json
dse_tools/*.html

# EXPLICITLY ALLOW artifacts inside the report directory so they can be committed
!dse_tools/report/
!dse_tools/report/*.json
!dse_tools/report/*.html
!dse_tools/report/*.png
reports/huawei_c_model/*.json
reports/huawei_c_model/*.html
reports/huawei_c_model/*.csv
offline_bundle/
offline_bundle.zip
